<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.decabeg_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      <!-- For adColony -->
    <uses-permission android:name="android.permission.VIBRATE" /> 
    <!-- android:launchMode="singleTop" for oneSignal  android:usesCleartextTraffic="true" for adColony-->
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/dicabeg_launcher"
      android:roundIcon="@mipmap/dicabeg_launcher"
      android:allowBackup="false"
      android:launchMode="singleTop" 
      android:theme="@style/AppTheme">
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
      <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
      <meta-data 
        android:name="com.google.android.gms.ads. ca-app-pub-6095454139379493~7169185727" 
        android:value=" ca-app-pub-6095454139379493~7169185727"/>
      <!-- For AdColony -->
        <!-- <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
          android:configChanges="keyboardHidden|orientation|screenSize"
          android:hardwareAccelerated="true"/> -->
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustPan">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <!-- Linking browser -->
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <!-- http://www.dicabeg.com/singup will match-->
            <data android:scheme="http"
              android:host="dicabeg"
              android:pathPrefix="/signup" />
        </intent-filter>
        <!-- Linking -->
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <!-- dicabeg://singup will match-->
            <data android:scheme="dicabeg"
              android:host="signup"/>
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
